<!DOCTYPE html>
<html>

<head>
    <title>YouTube Comment Sentiment Analysis</title>
    <link rel="stylesheet" href="/static/style_index_1.css">
    
</head>
<body>
    <div class="container">
        <center><img src="/static/Logo_1.png" alt="Loading....."></center>
        <center>
            <h2>Enter a YouTube Video Link Here</h2>
        </center>
        <form method="POST">
            <div class="link">
                <center><input type="text" name="video_link"></center>
            </div>
            <div class="submit_button">
                <center><input type="image" src="/static/Analysis_logo.png"></center>
            </div>
        </form>
    </div>
</body>

</html>